html, body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none; 
    padding: 5px 0 10px 0; 
}

li {
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #f1f1f1;
}

li:hover {
    background-color: #ab0101;
}

a { 
    text-decoration: none;
    color: #f1f1f1;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-image: url(../img/Banner-01.jpg);
    background-color: #000000;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    margin: 0;
    padding: 0;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 50px 10px 0px;
    height: 100%;
}

.menu ul li a {
    text-decoration: none;
    
}

.logo img {
    width: 150px;
    margin: -40px -30px;
    display: flexbox;
}

.header {
    min-height: 150px;
}

.header img {
    width: 100%;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(99, 56, 240);
    min-height: 100px;
}