header {
    background-image: url(../img/Banner-About.png);
}

.content {
    column-count: 2;
    padding: 0 50px;
    gap: 22px;
    text-align: center;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}