header {
    background-image: url(../img/Banner-Service.png);
}

main h2 {
    font-size: 32px;
    color: #900018;
    text-align: center;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}

main .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

main .gallery-services {
    background-color: #900018;
    color: #ffffff;
    width: 150px;
    border-radius: 15px;
    padding: 10px 0;
    margin: 15px;
    text-align: center;
}

main .gallery-services:hover {
    background-color: #000000;
    color: #c78792;
}

main .gallery i {
    font-size: 50px;
    margin-top: 15px;
}

main .gallery p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.content p {
    margin-left: 20px;
    line-height: 1.6;
}