<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    
    <!--  Styles  -->
    <link rel="stylesheet" href="../src/styles/style.css">
    <link rel="stylesheet" href="../src/styles/style-service.css">

    <!--  FontAwesme  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Serviços</h1>
        </header>
        
        <nav>
            <a href="../index.html"><img src="../src/img/logo_101_Dalmatians.png" alt="Logo 101 Dalmatas"> </a>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">Sobre Nós</a></li>
                <li><a href="./service.html">Serviços</a></li>
                <li><a href="./time.html">Nossos Horários</a></li>
                <li><a href="./contact.html">Contatos</a></li>
            </ul>
        </nav>

        <main>
            <h2>Nossos Serviços</h2>
            <p>A Clínica Veterinária 101 Dalmatians, em Salvador-BA, dispõe de diversos serviços. Venha conferir!</p>
            
            <section class="gallery">
                <a href="#salao" class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Salão pet</p>
                </a>

                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Pet Shop</p>
                </figure>
                
                <a href="#consulta" class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Consultas</p>
                </a>
                
                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Vacinas</p>
                </figure>
                
                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Cirurgias</p>
                </figure>                

                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Exames</p>
                </figure>

                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Raio X</p>
                </figure>


                <figure class="gallery-services">
                    <i class="fa-solid fa-paw"></i>
                    <p>Microchipagem</p>
                </figure>
                
            </section>

            <section class="publi">
                <figure>
                    <img src="../src/img/Banner-04.png" alt="Banner publicitario da ração Whiskas">
                </figure>
            </section>

            <section id="salao" class="content">
                <div class="main-paragraph">
                    <h2>Salão Pet</h2>
                    <p>O salão da Clínica Veterinária 101 Dalmatians oferece um serviço completo de banho e tosa, sempre priorizando a higiene, o conforto e a saúde do seu pet. Além disso, contamos com tratamentos específicos, como hidratações profundas e limpeza bucal/auricular, essenciais para o bem-estar. Oferecemos também diversas opções de tosa, visando não só a estética, mas também o bem-estar geral e a beleza do seu melhor amigo.</p>
                </div>

                <div class="main-img">
                    <figure>
                        <img src="../src/img/pet-salao.png" alt="Filhote de cachorro sendo tosado.">
                    </figure>
                </div>

            </section>
            
            <section id="petshop" class="content">
                <div class="main-img">
                    <figure>
                        <img src="../src/img/pet-shop.png" alt="Cachorro no corredor do pet shop.">
                    </figure>
                </div>

                <div class="main-paragraph">
                    <h2>Pet Shop</h2>
                    <p>Nosso Pet Shop oferece uma vasta gama de produtos para o bem-estar do seu pet. Encontre desde alimentos de alta qualidade e itens essenciais de higiene, até uma variedade de brinquedos e acessórios que garantem a alegria e o conforto do seu melhor amigo. Tudo o que você precisa para cuidar do seu pet com carinho e praticidade, em um só lugar!</p>
                </div>

            </section>
            
            <section id="consulta" class="content">
                <div class="main-paragraph">
                    <h2>Consulta Dermatológica</h2>
                    <p>Nossa equipe altamente qualificada se dedica a cuidar da saúde dermatológica dos animais de estimação, oferecendo um atendimento especializado e de qualidade. Trabalhamos em parceria com outros veterinários especializados, garantindo um cuidado abrangente e completo para o seu pet em um ambiente acolhedor e seguro.</p>
                </div>

                <div class="main-img">
                    <figure>
                        <img src="../src/img/pet-dermo.png" alt="Filhote de cachorro passando por limpeza de ouvido.">
                    </figure>
                </div>

            </section>
            
            <section id="vacina" class="content">
                <div class="main-img">
                    <figure>
                        <img src="../src/img/pet-vacinas.png" alt="Filhote de cachorro recebendo vacina.">
                    </figure>
                </div>
                
                <div class="main-paragraph">
                    <h2>Vacinas</h2>
                    <p>Na Clínica Veterinária 101 Dalmatians, acreditamos que a prevenção é essencial para a saúde dos pets. Oferecemos vacinação completa para cães e gatos, garantindo proteção contra doenças e bem-estar. Agende a vacinação e cuide de quem você ama. </p>
                </div>

            </section>

        </main>
        
        <footer>
            <div class="footer-1">
                <img src="../src/img/logo_101_Dalmatians.png" alt="Logo da 101 Dalmatians">
            </div>

            <div class="footer-2">
                <p>A Clínica Veterinária 101 Dalmatians surgiu com a missão de oferecer cuidados veterinários de excelência e acessíveis para pets em Salvador. Desde o primeiro dia, nosso propósito é garantir saúde, bem-estar e segurança para cada pet que passa por nossas portas.</p>
            </div>
            

            <div class="footer-3">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram" style="color: #f1f1f1;"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook-f" style="color: #f1f1f1;"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-youtube" style="color: #f1f1f1;"></i>
                </a>
            </div>
        </footer>
    </div>
    
</body>
</html>