<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Horários</title>
    
    <!--  Styles  -->
    <link rel="stylesheet" href="../src/styles/style.css">
    <link rel="stylesheet" href="../src/styles/style-time.css">

    <!--  FontAwesme  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Nossos Horários</h1>
        </header>
        
        <nav>
            <a href="../index.html"><img src="../src/img/logo_101_Dalmatians.png" alt="Logo 101 Dalmatas"> </a>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">Sobre Nós</a></li>
                <li><a href="./service.html">Serviços</a></li>
                <li><a href="./time.html">Nossos Horários</a></li>
                <li><a href="./contact.html">Contatos</a></li>
            </ul>
        </nav>

        <main>
            <section class="content">
                
            </section>
    
            <section class="content-1">
                
            </section>
    
            <section class="content-2">
    
            </section>
    
            <section class="content-3">
                
            </section>
                        
        </main>
        
        <footer>
            <div class="footer-1">
                <img src="../src/img/logo_101_Dalmatians.png" alt="Logo da 101 Dalmatas">
            </div>

            <div class="footer-2">
                <p>A Clínica Veterinária 101 Dalmatas surgiu com a missão de oferecer cuidados veterinários de excelência e acessíveis para pets em Salvador. Desde o primeiro dia, nosso propósito é garantir saúde, bem-estar e segurança para cada pet que passa por nossas portas.</p>
            </div>
            

            <div class="footer-3">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram" style="color: #f1f1f1;"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook-f" style="color: #f1f1f1;"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-youtube" style="color: #f1f1f1;"></i>
                </a>
            </div>
        </footer>
    </div>
</body>
</html>